amqp==5.3.1
annotated-types==0.7.0
asgiref==3.5.0
billiard==4.2.1
celery==5.5.0
certifi==2025.1.31
charset-normalizer==2.0.12
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==4.0.4
django-celery==3.1.17
django-celery-results==2.5.1
django-phone-field==1.8.1
django-phonenumber-field==6.1.0
gunicorn==23.0.0
idna==3.10
kombu==5.5.2
packaging==24.2
phonenumbers==8.12.47
prompt_toolkit==3.0.50
psycopg2-binary==2.9.10
pydantic==2.11.1
pydantic_core==2.33.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
redis==5.2.1
requests==2.27.1
six==1.17.0
sqlparse==0.4.2
typing-inspection==0.4.0
typing_extensions==4.13.0
tzdata==2025.2
urllib3==1.26.20
vine==5.1.0
wcwidth==0.2.13
