<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
First, thank you for choosing us.
<br>
1.	By filling out this application form, YOU confirm the ownership and legality of the items. If you are acting on behalf of a company or an organization, you must have the authorization to receive our services. After you have received our estimated cost of service, you need to send us confirmation of your agreement with the fee estimate as well as our terms and conditions via email.
<br>
2.	How to prepare for the Move and Delivery:<br>
•	Prepare all your items to be moved.<br>
•	Pack your items in boxes.<br>
•	Get the keys for the elevator and any doors in the way before we arrive.<br>
•	Arrange parking space for our truck<br>
•	Place the boxes in an accessible area for our movers<br>
•	Disassemble your large furniture to save time<br>
<br>
3.	Our movers can also help you with packing and disassembling; however, you need to be aware that it could lead to an increase in the moving hours and additional hourly-rated charges not included in the initial estimate.
<br>
4.	You must take care of your valuables, such as jewelry, documents, laptop, computer, etc.

<br>
5.	We don't move illegal, dangerous to transport, or prohibited items.
<br>
6.	Our estimated fees are based on the information you provide in your application. We charge hourly, but you need to understand that the estimate is not the final fee due to unexpected conditions and your underestimation of items and, accordingly, the amount of work. The final fee will be determined based on the actual hours spent on your move. The hourly charge starts from the time we arrive at your place until we finish work at the destination.

<br>
7.	How we estimate our service: Our service includes a two-hour minimum fee for moving and a one-hour minimum fee for delivery (our rates. Put the link to the rates here, please), travel fee, and other expenses, if any (ferry tickets, tolls, packing supplies, parking fees, etc.) plus taxes. We charge a minimum two-hour fee for moving commitment and a minimum one-hour fee for delivery.
<br>
8.	Our rates:
	$70/hr   1 mover + 20' Box truck<br>
	$120/hr  2 movers + 20' Box truck<br>
	$180/hr  3 movers + 20' Box truck<br>
<br>
9.	Travel Fee: We charge a one-hour travel fee according to our above-mentioned rates for the Metro Vancouver area. For longer distances, it may vary, and we have to calculate.
<br>
10.	Cancellation policy: We require a one-hour deposit (our rates. Put the link to the rate here, please) which you need to pay after you receive our estimate. Your deposit is refundable if you kindly notify us at least 48 hours in advance.

 <br>
11.	Rescheduling Policy: If you require to reschedule the move, we can provide it, but please give us a notice at least 48 hours in advance; otherwise, you will be charged a $30 rescheduling fee. However, due to unforeseen circumstances such as accidents and adverse weather conditions in BC, we may be forced to reschedule your move or delivery to protect your items from damage.
<br>
12.	Payment: We will send you an invoice within 24 hours after completion of the service, and you will have 5 business days to complete the payment (by cash, Interac e-transfer, credit or debit card, or cheque). If you don't make a payment after 5 days, you will be charged a 10% penalty on your invoice plus a compensation rate of 5%, compounded annually, until you complete the payment. In the case that IGB Moving & Delivery is required to go through the collection procedures, all costs and legal fees will be on the client.
<br>
13.	On the rare occasion that any item is damaged during the move, we provide complementary basic insurance coverage. Our maximum coverage is $30,000 provided that the value of your items has been disclosed before the service. If you believe our maximum insurance does not cover the value of your items, we recommend that you take out additional third-party insurance for the move or delivery.

</body>
</html>