{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms&Conditions</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/terms.css' %}">
</head>
<body>
<section id="terms">
    <h2 class="section__title">Terms and Conditions</h2>
    <div class="main__text">
        Thank you for choosing our services.
        <br>
        <br>
        1. By completing this application form, you confirm that you own the items being moved
        and that they are legal. If you are acting on behalf of a company or organization,
        you must have the authority to request our services. After receiving our estimated cost of service,
        please confirm your acceptance of the fee estimate and our terms and conditions via email.
        <br>
        <br>
        2. Preparing for the Move and Delivery:<br>
        • Ensure all items are ready to be moved.<br>
        • Pack your items securely in boxes.<br>
        • Label your boxes clearly for easy identification, such as "Living Room," "Master Bedroom," "Kitchen," and so on.
          This will help us deliver and sort them quickly in your new home, saving time during the move.
          Additionally, make sure to tag any boxes containing fragile items to ensure we handle them with extra care.<br>
        • Obtain keys for any elevators and doors that need access before our arrival.<br>
        • Arrange a parking space for our truck.<br>
        • Place boxes in an easily accessible area for our movers.<br>
        • Disassemble large furniture to save time on the move.<br>
        <br>
        <br>
        3. Our movers are available to assist with packing, disassembly, and assembly;
        however, this may increase the total number of moving hours and result in additional
        hourly charges not included in the initial estimate.
        <br>
        <br>
        4. You are responsible for the care of your valuables, including jewellery, documents, laptops, and computers.
        <br>
        <br>
        5. We do not transport illegal, hazardous, or prohibited items. It is important for you to understand
        that if any such items are found in our truck, we will not be held responsible
        for their delivery or safety. Additionally,
        you will be required to compensate us for any losses incurred and address any consequences that may arise.
        <br>
        <br>
        6. Our estimated fees are based on the information you provide in your application.
        We charge hourly, and please note that the estimate is not final.
        Unexpected conditions or underestimation of items may increase the total fee.
        The final amount will depend on the hours worked,
        from when we arrive at your location until the move is completed at the destination.
        <br>
        <br>
        7. Our service includes a minimum charge of two hours for moving and one hour for delivery,
        along with any travel fees
        and additional expenses (such as ferry tickets, tolls, packing supplies, parking fees, etc.), plus taxes.
        <br>
        <br>
        8. Our rates:
        <ul>
            <li>$70/hr 1 mover + 20' Box truck</li>
            <li>$100/hr 2 movers + 20' Box truck</li>
            <li>$150/hr 3 movers + 20' Box truck</li>
        </ul>
        <br>
        <br>
        9. Travel Fee: We charge a one-hour travel fee based on the above-mentioned rates for the Greater Vancouver area.
        Fees for longer distances may vary and will be calculated accordingly.
        <br>
        <br>
        10. Cancellation Policy: After you receive our estimate, a one-hour deposit is required.
        The deposit is refundable if you notify us of the cancellation via email or message at
        least 48 hours in advance.
        <br>
        <br>
        11. Rescheduling Policy: If you need to reschedule your move, please give us at least 48 hours' notice.
        If you provide less than 48 hours notice, a $50 rescheduling fee will apply. Additionally,
        please note that we may need to reschedule your move or delivery due to unforeseen circumstances,
        such as accidents or adverse weather conditions in BC, in order to make the move safe.
        <br>
        <br>
        12. Payment: We will send you an invoice within 24 hours of service completion.
        You have five business days to complete the payment.
        Late payments beyond this period will incur a 10% penalty on your invoice,
        plus a 12% compounded annual interest until payment is made.
        If IGB Moving & Delivery has to take collection actions,
        all related costs and legal fees will be the client's responsibility.
        <br>
        <br>
        13. In the rare event that an item is damaged during the move, we provide basic
        insurance coverage at no additional charge. Our maximum coverage is $30,000,
        provided that the value of your items has been disclosed prior to the service.
        If this amount does not cover the value of your items,
        we recommend obtaining additional third-party insurance for the move or delivery.
    </div>
</section>
</body>
<style>
    #terms {
        padding: 5%;
    }

    .main__text {
        font-size: 26px;
        font-weight: 600;
    }
</style>
</html>